.hero-section {
  height: 60px;
  background-color: var(--White_grey, #f5f5f5);
  padding: 18px 70px;
  margin-top: 72px;
  .container {
    height: 100%;
  }
  .hero-content {
    display: flex;
    align-items: center;
    gap: 8px;
    .one {
      max-width: 76px;
      font-family: "Jost", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: var(--Dark_gray, #555555);
    }
    .tow {
      max-width: 49px;

      font-family: "Jost", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: var(--Grey, #9d9d9d);
    }
  }
}

#Faqs {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 56px;
  h1 {
    margin-bottom: 50px;
  }
  .all-accordion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
  }

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 20px 30px 20px 30px;
    border-radius: 8px;
    background: var(--White_grey, #f5f5f5);
    margin-bottom: 30px;
    h5 {
      width: 500px;
      height: 19px;
      font-family: "Exo", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 19.2px;
      color: black;
    }
  }
  .content-tow {
    width: 100%;
    height: 192px;
    padding: 20px 30px 20px 30px;
    gap: 20px;
    border-radius: 8px;
    background: var(--White_grey, #f5f5f5);
    margin-bottom: 30px;
    .top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    h5 {
      max-width: 500px;
      height: 19px;
      font-family: "Exo", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 19.2px;
      color: var(--Primary, #ff782d);
    }
    p {
      width: 534px;
      font-family: "Jost", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      color: var(--Dark_gray, #555555);
    }
  }
  .p-bottom {
    padding-bottom: 128px;
  }
}

#question-image
{
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
}
/* ============================ Responsive Design =========================== */
@media screen and (max-width: 992px) {
  #Faqs {
    padding-left: 20px;
    padding-right: 20px;
    .all-accordion {
      flex-direction: column;
    }
    .content {
      width: 320px;
    }

    .content-tow {
      width: 320px;
      height: 300px;
      p {
        width: 288px;
        height: auto;
      }
    }
  }

  #question-image
  {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    img 
    {
     width: 320px;
     
    } 
  }
}

